@use '../mix/index' as mix

.flex-row-reversed-justify-center-content-center
    align-content: center
    justify-content: center
    @include mix.flexbox-generator('flex-wrap-reversed-row')

.flex-row-reversed-justify-around-content-center
    align-content: center
    justify-content: space-around
    @include mix.flexbox-generator('flex-wrap-reversed-row')

.flex-row-reversed-justify-between-content-center
    align-content: center
    justify-content: space-between
    @include mix.flexbox-generator('flex-wrap-reversed-row')

.flex-row-reversed-justify-evenly-content-center
    align-content: center
    justify-content: space-evenly
    @include mix.flexbox-generator('flex-wrap-reversed-row')