// Internal dependencies
@use '../mix/index' as mix

.flex-col-items-center
    align-items: center
    @include mix.gen-flexbox('flex-col')

.flex-col-justify-center
    justify-content: center
    @include mix.gen-flexbox('flex-col')

.flex-col-justify-space-evenly
    justify-content: space-evenly
    @include mix.gen-flexbox('flex-col')

.flex-wrap-col-content-center
    align-content: center
    @include mix.gen-flexbox('flex-wrap-col')

.flex-wrap-col-content-center-justify-evenly
    align-content: center
    justify-content: space-evenly
    @include mix.gen-flexbox('flex-wrap-col')

.flex-col-items-end
    align-items: flex-end
    @include mix.gen-flexbox('flex-col')

.flex-wrap-col-content-center
    align-content: center
    @include mix.gen-flexbox('flex-wrap-col')