@use '../mix/index' as mix
.flex-row
    @include mix.flexbox-generator('flex-row')

.flex-row-items-center
    align-items: center
    @include mix.flexbox-generator('flex-row')

.flex-inline-flex-row
    @include mix.flexbox-generator('inline-flex-row')

.flex-inline-items-justify-center
    align-items: center
    justify-content: center
    @include mix.flexbox-generator('inline-flex')

.flex-row-justify-between
    justify-content: space-between
    @include mix.flexbox-generator('flex-row')

.flex-row-items-flex-end-justify-center
    align-items: flex-end 
    justify-content: center
    @include mix.flexbox-generator('flex-row')

.flex-row-items-center-justify-content-space-between
    align-items: center
    justify-content: space-between
    @include mix.flexbox-generator('flex-row')

.flex-row-justify-center
    justify-content: center
    @include mix.flexbox-generator('flex-row')

.flex-row-items-center
    align-items: center
    @include mix.flexbox-generator('flex-row')
    
