@use '../mix/index' as mix

.flex-col-align-items-center
    align-items: center
    @include mix.flexbox-generator('flex-col')

.flex-col-justify-center
    justify-content: center
    @include mix.flexbox-generator('flex-col')

.flex-col-justify-space-evenly
    justify-content: space-evenly
    @include mix.flexbox-generator('flex-col')

.flex-wrap-col-align-content-center
    align-content: center
    @include mix.flexbox-generator('flex-wrap-col')

.flex-wrap-col-align-center-justify-space-evenly
    align-content: center
    justify-content: space-evenly
    @include mix.flexbox-generator('flex-wrap-col')

.flex-col-align-items-end
    align-items: flex-end
    @include mix.flexbox-generator('flex-col')

.flex-wrap-col-align-content-center
    align-content: center
    @include mix.flexbox-generator('flex-wrap-col')