@use '../mix/index' as mix

.flex-row-reversed-content-center-justify-center
    align-content: center
    justify-content: center
    @include mix.gen-flexbox('flex-wrap-reversed-row')

.flex-row-reversed-content-center-justify-around
    align-content: center
    justify-content: space-around
    @include mix.gen-flexbox('flex-wrap-reversed-row')

.flex-row-reversed-content-center-justify-between
    align-content: center
    justify-content: space-between
    @include mix.gen-flexbox('flex-wrap-reversed-row')

.flex-row-reversed-content-center-justify-evenly
    align-content: center
    justify-content: space-evenly
    @include mix.gen-flexbox('flex-wrap-reversed-row')