@use '../mix/index' as mix

.flex-wrap-row-justify-center
    justify-content: center
    @include mix.gen-flexbox('flex-wrap-row')

.flex-wrap-row-justify-end
    justify-content: flex-end
    @include mix.gen-flexbox('flex-wrap-row')

.flex-wrap-row-justify-start
    justify-content: flex-start
    @include mix.gen-flexbox('flex-wrap-row')

.flex-wrap-row-justify-evenly
    justify-content: space-evenly
    @include mix.gen-flexbox('flex-wrap-row')

.flex-wrap-row-justify-between
    justify-content: space-between
    @include mix.gen-flexbox('flex-wrap-row')

.flex-wrap-row-justify-around
    justify-content: space-around
    @include mix.gen-flexbox('flex-wrap-row')

//  Align items
.flex-wrap-row-items-end
    align-items: flex-end
    @include mix.gen-flexbox('flex-wrap-row')

.flex-wrap-row-items-center
    align-items: center
    @include mix.gen-flexbox('flex-wrap-row')
