// Built-in Dependencies
@use 'sass:map'

// Internal dependencies
@use 'generators' as gen
@use 'utilities' as utils
@use 'typography' as typo
@use '../color/alerts' as alerts
@use '../func/color' as func-color
@use '../func/icons' as func-icons


/// Mixin for alert icons
@mixin _alert-icon($icon, $size: 1.5rem)
    $icon-props: func-icons.find($icon)
    @if $icon-props
        &::before
            grid-row: 1
            grid-column: 1

        @include utils.icon-style(map.get($icon-props, icon), $size: $size)
    @else
        @warn "Icon '#{$icon}' not found in icon mapping."

/// Applies alert styles with automated theme-aware contrast and strong typography.
/// @param {Color} $bg-color [alerts.$warning] - The alert background color.
/// @param {Color|null} $text-color [null] - Optional text color.
/// @param {String|null} $icon [null] - Optional icon name (expects bootstrap-icons).
/// @param {String} $inline-size [35rem] - The inline size of the alert.
/// @param {Number} $icon-size [2rem] - The font size of the icon.
/// @param {Boolean} $suppress-notice [false] - When true, suppresses accessibility notice for transparent or inherit backgrounds.
@mixin alert($bg-color: alerts.$warning, $text-color: null, $icon: null, $inline-size: 35rem, $icon-size: 2rem, $suppress-notice: false)

    @if $icon != null
        display: grid
        align-items: start
        grid-template-columns: auto 1fr
        @include _alert-icon($icon, $size: $icon-size)

    @else
        align-items: center
        @include gen.gen-flexbox('flex-col')

    gap: 1rem
    padding: .5rem
    @include utils.border-radius(.5rem)
    border: .0625rem solid rgba(0, 0, 0, 0.1)

    @include typo.font($weight: 800)
    @include utils.margin($margin: auto)
    @include utils.size($inline: $inline-size)
    @include utils.background-color($bg-color, $text-color, $suppress-notice: $suppress-notice)