// Built-in Dependencies
@use 'sass:map'

// Internal dependencies
@use '../map/devices-breakpoints' as bp

// Base mixin – low‑level implementation of media queries.
@mixin media-queries-base($breakpoint, $value: null)
  @if $value != null
    @media (#{$breakpoint}: #{$value})
      @content
  @else if map.has-key(bp.$breakpoints, $breakpoint)
    $breakpoint-value: map.get(bp.$breakpoints, $breakpoint)
    @media (max-inline-size: $breakpoint-value)
      @content
  @else
    @media #{$breakpoint}
      @content

// Public dispatcher
@mixin media-queries($feature, $value: null)
  @include media-queries-base($feature, $value)
    @content

@mixin prefers-color-scheme($mode)
  @include media-queries-base('(prefers-color-scheme: #{$mode})')
    @content

@mixin prefers-orientation($orientation)
  @include media-queries-base('orientation', $orientation)
    @content

@mixin device-media($device, $orientation: portrait)
  $data: map.get(bp.$devices, $device)

  @if $data == null
    @error "Device `#{$device}` not found in $devices map."

  $inline-size: map.get($data, inline-size)
  $block-size: map.get($data, block-size)

  @if $orientation == portrait
    $max-inline-size: $inline-size + 0.125rem
    $max-block-size: $block-size + 0.125rem
    @media only screen and (min-inline-size: $inline-size) and (max-inline-size: $max-inline-size) and (min-block-size: $block-size) and (max-block-size: $max-block-size) and (orientation: portrait)
      @content
  @else if $orientation == landscape
    $max-block-size: $inline-size + 0.125rem
    $max-inline-size: $block-size + 0.125rem
    @media only screen and (min-inline-size: $block-size) and (max-inline-size: $max-inline-size) and (min-block-size: $inline-size) and (max-block-size: $max-block-size) and (orientation: landscape)
      @content
  @else
    @error "Invalid orientation `#{$orientation}` – use portrait or landscape."
