// Built-in Dependencies
@use 'sass:map'

// Internal dependencies
@use '../color' as c
@use 'utilities' as utils
@use '../func/color' as func-color


/// Renders a card with automated text contrast and optional overrides.
/// @param {Color|null} $accent-color [null] - The accent color to derive card colors from.
/// @param {Color} $context-bg [c.$soft-white] - The background context to use if no accent color is provided.
/// @param {Map} $overrides [()] - A map for overriding 'background' or 'text' colors.
/// @param {String} $shape ['square'] - Shape of the card ('square', 'circle', 'triangle', 'rectangle').
@mixin card(
    $accent-color: null, 
    $context-bg: c.$soft-white, $overrides: (), 
    $shape: 'square', 
    $padding: null, 
    $margin: null, 
    $border: null, 
    $box-shadow: null, 
    $suppress-notice: false)
    // Derive defaults based on provided accent or context
    $colors: func-color.derive-card-colors($accent-color, $context-bg)
    
    // Apply styles with overrides
    $bg: map.get($colors, 'background')
    @if map.has-key($overrides, 'background')
        $bg: map.get($overrides, 'background')

    $text: map.get($colors, 'text')
    @if map.has-key($overrides, 'text')
        $text: map.get($overrides, 'text')
    
    @if $shape == 'square'
        border-radius: 5%
        @include utils.aspect-ratio(1, 1)

    @else if $shape == 'circle'
        border-radius: 50%
        @include utils.aspect-ratio(1, 1)

    @else if $shape == 'rectangle'
        border-radius: 5%
        @include utils.aspect-ratio(16, 9)

    @else if $shape == 'triangle'
        @include utils.aspect-ratio(1, 1)
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%)

    @if $padding != null
        padding: $padding

    @if $margin != null
        @include utils.margin($margin: $margin)

    @if $border != null
        border: $border

    @if $box-shadow != null
        box-shadow: $box-shadow

    @if $transition != null
        @include utils.transition($transition, $behavior: null)

    @include utils.background-color($bg, $text, $suppress-notice: $suppress-notice)
