@use 'typography' as typo
@use '../color/alerts' as *

@mixin link-color($color, $color-hover, $color-active, $color-visited)

    a
        [aria-disabled="true"]
            color: $disabled
            cursor: not-allowed
            pointer-events: none
            text-decoration: none

        &:active
            color: $color-active
        
        &.external-link
            text-decoration: underline

        @media (hover: hover)

            &:hover
                color: $color-hover
                border-radius: 0.5em

        &:visited
            color: $color-visited
        

        h1, h2, h3, h4, h5, h6
            color: $color !important

        color: $color
        cursor: pointer
        @include typo.text-adjustments($quiet: true)
