@use 'sass:map' as map
@use './mixins' as mix

@use '../map/icons' as icon-map
@use '../map/flexbox' as flexbox-mapping

@mixin icon-generator($color: null, $font-family: 'bootstrap-icons')
    @if icon-map.$icons
        @each $category, $maps in icon-map.$icons
            @each $icon, $props in $maps
                .#{$icon}
                    font-family: $font-family
                    &:before
                        content: map.get($props, icon)
                    @if $color
                        color: $color
    @else
        @error 'Icon mapping not found.'

@mixin flexbox-generator($name)
    $props: map.get(flexbox-mapping.$flexbox, $name)

    @if $props
        @each $property, $value in $props
            #{$property}: $value
    @else
        @error '"#{$name}" not found in flexbox mapping.'
