@use 'sass:color'
@use '../color' as c
@use 'utilities' as *
@use 'typography' as typo
@use '../color/alerts' as alerts


/// Applies link colors using theme-aware defaults.
@mixin link-color($color: c.$light-blue, $color-hover: color.adjust(c.$light-blue, $lightness: -10%), $color-active: color.adjust(c.$light-blue, $lightness: -20%), $color-visited: c.$light-blue)

    a
        [aria-disabled="true"]
            cursor: not-allowed
            pointer-events: none
            @include typo.text-adjustments($decoration: none)
            @include background-color(transparent, alerts.$disabled)

        &:active
            @include background-color(transparent, $color-active)
        
        &.external-link
            @include typo.text-adjustments($decoration: underline)

        @media (hover: hover)
            &:hover
                border-radius: 0.5em
                @include background-color(transparent, $color-hover)

        &:visited
            @include background-color(transparent, $color-visited)

        cursor: pointer
        @include typo.text-adjustments($quiet: true)
        @include background-color(transparent, $color)
