
@use 'sass:map'
@use 'sass:list'
@use '../map/fonts' as fonts

@mixin text-wrap-safe($inline: 0)
  p, h1, h2, h3, h4, h5, h6, figcaption, a, li
    hyphens: auto
    word-wrap: anywhere
    white-space: pre-wrap
    overflow-wrap: anywhere
    min-inline-size: $inline

@mixin font-style($font, $family: null, $line-height: null, $variant: null)
  $detected-family: font-family-of($font)
  @if $detected-family != null
    $family: $detected-family
  @if $line-height != null
    line-height: $line-height
  @if $variant != null
    font-variant: $variant
  // Always include a fallback family.
  font-family: $font, $family

@mixin font( $font: null, $size: 1rem, $family: null, $style: normal, $weight: normal)
  @if $font != null
    @include font-style($font, $family)

  @else if $family != null
    font-family: $family

  @if $size != null
    font-size: $size

  @if $weight != null
    font-weight: $weight

  @if $style != null
    font-style: $style

@mixin font-sans($font, $size: 1rem, $weight: normal, $style: normal)
  @include font($font, $size, sans-serif, $style, $weight)

@mixin font-serif($font, $size: 1rem, $weight: normal, $style: normal)
  @include font($font, $size, serif, $style, $weight)

@mixin font-mono($font, $size: 1rem, $weight: normal, $style: normal)
  @include font($font, $size, monospace, $style, $weight)

// Helper: return the generic family for a given font name using the fonts map.
@function font-family-of($font)
  @if map.has-key(fonts.$fonts, $font)
    @if $font == 'mono'
      @return monospace
    @return $font

  @each $category, $map in fonts.$fonts
    @if map.has-key($map, $font)
      @return map.get($map, $font)
  @return null