@use 'sass:list'


@mixin text-wrap-safe()
    p, h1, h2, h3, h4, h5, h6, figcaption, a, li
        hyphens: auto
        min-inline-size: 0
        word-wrap: anywhere
        white-space: pre-wrap
        overflow-wrap: anywhere

@mixin font-style($font, $family: null)
    $sans-serif: ('Roboto', 'Work Sans', 'Nunito')

    @if list.index($sans-serif, $font)
        $family: sans-serif

    font-family: $font, $family

@mixin font($size: null, $weight: null, $font: null, $family: null, $style: null)
    @if $font != null
        @include font-style($font, $family)
    @else if $family != null
        font-family: $family

    @if $size != null
        font-size: $size

    @if $weight != null
        font-weight: $weight

    @if $style != null
        font-style: $style

