// Third-party dependencies
@use '../node_modules/sass-true' as true

// Internal dependencies
@use '../src/flexbox' as flex
@use '../src/map/flexbox' as map-flex

@include true.test-module('Flexbox Utility Classes')
  @include true.test('Applies .flex-row utility properties')
    @include true.assert
      @include true.output
        .test-row
          @include flex.gen-flexbox('flex-row')
      
      @include true.expect
        .test-row
          display: flex
          flex-wrap: nowrap
          flex-direction: row

  @include true.test('Applies .flex-col utility properties')
    @include true.assert
      @include true.output
        .test-col
          @include flex.gen-flexbox('flex-col')
      
      @include true.expect
        .test-col
          display: flex
          flex-wrap: nowrap
          flex-direction: column

  @include true.test('Applies .flex-row-items-center-justify-center utility properties')
    @include true.assert
      @include true.output
        .test-composite
          display: flex
          flex-wrap: nowrap
          flex-direction: row
          align-items: center
          justify-content: center
      
      @include true.expect
        .test-composite
          display: flex
          flex-wrap: nowrap
          flex-direction: row
          align-items: center
          justify-content: center

  @include true.test('Applies .flex-inline-items-justify-center utility properties')
    @include true.assert
      @include true.output
        .test-inline-composite
          display: inline-flex
          align-items: center
          justify-content: center
      
      @include true.expect
        .test-inline-composite
          display: inline-flex
          align-items: center
          justify-content: center

  @include true.test('Applies atomic justify-content properties')
    @include true.assert
      @include true.output
        @include flex.gen-flexbox-atomic('justify', 'justify-content', map-flex.$justify-content)
      
      @include true.expect
        .justify-start
          justify-content: flex-start
        .justify-end
          justify-content: flex-end
        .justify-center
          justify-content: center
        .justify-between
          justify-content: space-between
        .justify-around
          justify-content: space-around
        .justify-evenly
          justify-content: space-evenly

  @include true.test('Applies atomic align-items properties')
    @include true.assert
      @include true.output
        @include flex.gen-flexbox-atomic('items', 'align-items', map-flex.$align-items)
      
      @include true.expect
        .items-start
          align-items: flex-start
        .items-end
          align-items: flex-end
        .items-center
          align-items: center
        .items-baseline
          align-items: baseline
        .items-stretch
          align-items: stretch

  @include true.test('Applies atomic align-content properties')
    @include true.assert
      @include true.output
        @include flex.gen-flexbox-atomic('content', 'align-content', map-flex.$align-content)
      
      @include true.expect
        .content-start
          align-content: flex-start
        .content-end
          align-content: flex-end
        .content-center
          align-content: center
        .content-between
          align-content: space-between
        .content-around
          align-content: space-around
        .content-stretch
          align-content: stretch

  @include true.test('Applies atomic align-self properties')
    @include true.assert
      @include true.output
        @include flex.gen-flexbox-atomic('self', 'align-self', map-flex.$align-self)
      
      @include true.expect
        .self-auto
          align-self: auto
        .self-start
          align-self: flex-start
        .self-end
          align-self: flex-end
        .self-center
          align-self: center
        .self-baseline
          align-self: baseline
        .self-stretch
          align-self: stretch

  @include true.test('Applies atomic flex-wrap properties')
    @include true.assert
      @include true.output
        @include flex.gen-flexbox-atomic('wrap', 'flex-wrap', map-flex.$flex-wrap)
      
      @include true.expect
        .wrap-nowrap
          flex-wrap: nowrap
        .wrap-wrap
          flex-wrap: wrap
        .wrap-wrap-reverse
          flex-wrap: wrap-reverse

  @include true.test('Applies atomic flex-direction properties')
    @include true.assert
      @include true.output
        @include flex.gen-flexbox-atomic('dir', 'flex-direction', map-flex.$flex-direction)
      
      @include true.expect
        .dir-row
          flex-direction: row
        .dir-row-reverse
          flex-direction: row-reverse
        .dir-col
          flex-direction: column
        .dir-col-reverse
          flex-direction: column-reverse
