@use '../../mix/index' as mix

.flex-wrap-row-items-start
    align-items: flex-start
    @include mix.flexbox-generator('flex-wrap-row')


.flex-wrap-row-items-center-justify-center
    align-items: center
    justify-content: center
    @include mix.flexbox-generator('flex-wrap-row')

.flex-wrap-row-items-center-justify-evenly
    align-items: center
    justify-content: space-evenly
    @include mix.flexbox-generator('flex-wrap-row')

.flex-wrap-row-items-center-justify-around
    align-items: center
    justify-content: space-around
    @include mix.flexbox-generator('flex-wrap-row')

.flex-wrap-row-items-center-justify-between
    align-items: center
    justify-content: space-between
    @include mix.flexbox-generator('flex-wrap-row')

.flex-wrap-row-items-end-justify-between
    align-items: flex-end
    justify-content: space-between
    @include mix.flexbox-generator('flex-wrap-row')

.flex-wrap-row-items-end-justify-evenly
    align-items: flex-end
    justify-content: space-evenly
    @include mix.flexbox-generator('flex-wrap-row')
