//  Color palette Light
$white: rgb(245, 245, 245)
$dark-grey: rgb(64, 64, 64)
$logo-red: rgb(179, 34, 20)
$sea-green: rgb(95, 158, 160)
$off-white: rgb(252, 252, 252)
$light-blue: rgb(52, 152, 216)
$soft-white: rgb(244, 246, 249)
$dark-orange: rgb(204, 85, 102)
$light-orange: rgb(231, 113, 125)
$deep-midnight-blue: rgb(29, 46, 84)

