$flex: ('display': flex)
$inline-flex: ('display': inline-flex)
$flex-row: ('display': flex, 'flex-wrap': nowrap, 'flex-direction': row)
$flex-wrap-row: ('display': flex, 'flex-wrap': wrap, 'flex-direction': row)
$flex-col: ('display': flex, 'flex-wrap': nowrap, 'flex-direction': column)
$flex-wrap-col: ('display': flex, 'flex-wrap': wrap, 'flex-direction': column)
$inline-flex-row: ('flex-wrap': nowrap, 'flex-direction': row, 'display': inline-flex)
$inline-flex-col: ('flex-wrap': nowrap, 'display': inline-flex, 'flex-direction': column)
$flex-wrap-reversed-row: ('display': flex, 'flex-wrap': wrap, 'flex-direction': row-reverse)
$flex-wrap-reversed-col: ('display': flex, 'flex-wrap': wrap, 'flex-direction': column-reverse)


$flexbox:(
    'flex': $flex, 
    'flex-row': $flex-row, 
    'flex-col': $flex-col,
    'inline-flex': $inline-flex,
    'flex-wrap-row': $flex-wrap-row,
    'flex-wrap-col': $flex-wrap-col,
    'inline-flex-row': $inline-flex-row,
    'inline-flex-col': $inline-flex-col,
    'flex-wrap-reversed-row': $flex-wrap-reversed-row,
    'flex-wrap-reversed-col': $flex-wrap-reversed-col,
    'flex-wrap-reversed-column': $flex-wrap-reversed-col,
)

$justify-content: (
    'start': flex-start,
    'end': flex-end,
    'center': center,
    'between': space-between,
    'around': space-around,
    'evenly': space-evenly,
)

$align-items: (
    'start': flex-start,
    'end': flex-end,
    'center': center,
    'baseline': baseline,
    'stretch': stretch,
)

$align-content: (
    'start': flex-start,
    'end': flex-end,
    'center': center,
    'between': space-between,
    'around': space-around,
    'stretch': stretch,
)

$align-self: (
    'auto': auto,
    'start': flex-start,
    'end': flex-end,
    'center': center,
    'baseline': baseline,
    'stretch': stretch,
)

$flex-wrap: (
    'nowrap': nowrap,
    'wrap': wrap,
    'wrap-reverse': wrap-reverse,
)

$flex-direction: (
    'row': row,
    'row-reverse': row-reverse,
    'col': column,
    'col-reverse': column-reverse,
)
