@use 'sass:map'

$sans-serif: (
  'Roboto': sans-serif, 'Helvetica': sans-serif, 'Arial': sans-serif,
  'Work Sans': sans-serif, 'Nunito': sans-serif, 'Open Sans': sans-serif,
  'Lato': sans-serif, 'Montserrat': sans-serif, 'Source Sans Pro': sans-serif,
  'Inter': sans-serif, 'Tahoma': sans-serif, 'Verdana': sans-serif,
  'Gill Sans': sans-serif, 'Futura': sans-serif, 'Ubuntu': sans-serif,
  'Noto Sans': sans-serif, 'Noto Sans KR': sans-serif, 'Noto Sans JP': sans-serif,
  'Noto Sans SC': sans-serif, 'Noto Sans Arabic': sans-serif, 'Noto Sans Hebrew': sans-serif,
  'Bootstrap': sans-serif, 'bootstrap-icons': sans-serif
)

$serif: (
  'Georgia': serif, 'Times New Roman': serif, 'Palatino': serif,
  'Libre Baskerville': serif, 'Merriweather': serif, 'PT Serif': serif,
  'Noto Serif': serif, 'Noto Serif KR': serif, 'Noto Serif JP': serif,
  'Noto Serif SC': serif
)

$mono: (
  'Courier New': monospace, 'Consolas': monospace, 'Ubuntu Mono': monospace,
  'Source Code Pro': monospace, 'Fira Code': monospace, 'Inconsolata': monospace,
  'Menlo': monospace, 'Monaco': monospace, 'Noto Mono': monospace
)

$fonts: (
  'mono': $mono,
  'serif': $serif,
  'sans-serif': $sans-serif
)
