@use '../color/_index' as color


$academic: ('school': (icon: "\F671"), 'diploma': (icon: "\F11D"))
$boolean-controls: ('radio': (icon: '\F110'), 'checkbox': (icon: '\F272'))
$icon-utility-mappings: ('color': (icon: '\F4B0'), 'hidden': (icon: '\F0E7'))
$video-controls: ('play-video': (icon: '\F4F4'), 'pause-video': (icon: '\F4C4'))
$documents: ('pdf': (icon: "\F63D"), 'dir': (icon: "\F3D7"), 'default': (icon: "\F369"))
$alerts: ('warning': (icon: "\F33A"), 'success': (icon: "\F26B"), 'error': (icon: "\F627"), 'info': (icon: "\F431"))
$datetime-pickers: ( 'time': (icon: '\F3E5'), 'week': (icon: '\F1E6'), 'month': (icon: '\F1E7'),  'calendar': (icon: "\F1E7") )
$input-controls: ('tel': (icon: '\F5BB'), 'url': (icon: '\F882'), 'text': (icon: '\F435'), 'search': (icon: '\F52A'), 'number': (icon: '\F67F'), 'password': (icon: '\F44E'))
$communication: ('email': (icon: "\F84B"), 'mail': (icon: "\F32F"), 'github': (icon: "\F3ED"), 'ytube': (icon: "\F62B"), 'facebook': (icon: "\F344"), 'linkedin': (icon: "\F472"), 'instagram': (icon: "\F437"), 'twitter': (icon: "\F5EF"))
$misc-icons: ('dir': (icon: "\F3D7"), 'map-pin': (icon: "\F64B"), 'collaborator': (icon: "\F4D0"), 'alarm': (icon: "\F102"), 'cloud': (icon: "\F2C1"), 'dot': (icon: "\F309"),  'globe': (icon: "\F885"), 'tool'(icon: '\F5DB'), 'code': (icon: "\F2C8"), 'default': (icon: "\F82E"))


$icons: (
    'academic': $academic, 'document': $documents, 'misc-icons': $misc-icons,
    'communication': $communication, 'utility-inputs': $icon-utility-mappings,
    'input-controls': $input-controls, 'video-controls': $video-controls,
    'boolean-controls': $boolean-controls, 'datetime-pickers': $datetime-pickers,
    'alerts': $alerts
) !default