$booleanControls: ( 'radio', 'checkbox' )
$utility-inputs: ( 'range', 'color', 'hidden' )
$buttons: ( 'file', 'submit', 'reset', 'button')
$datetimePickers: ( 'date', 'time', 'week', 'month', 'datetime-local' )
$inputControls:( 'tel', 'url', 'text', 'email', 'search','number','password' )

$inputs: (
    'buttons': $buttons,
    'inputControls': $inputControls,
    'utility-inputs': $utility-inputs,
    'booleanControls': $booleanControls,
    'datetimePickers': $datetimePickers,
    
)

$default-input-props: (
  border: rgb(204, 204, 204) solid 1px,
  padding: 0.5rem 1rem,
  "border-radius": 0.5rem,
  "background-color": rgb(255, 255, 255),
  "font-size": 1rem,
  "line-height": 1.5,
  "box-sizing": border-box,
  outline: 1px solid rgb(0, 120, 215),
  "focus-outline": rgb(0, 120, 215),
  cursor: text
)
