//  Align-content and Justify-content gen
@use '../../mix/generators' as gen

.flex-column-justify-space-evenly-items-center
    align-items: center
    justify-content: space-evenly
    @include gen.flexbox-generator('flex-column')

.flex-column-align-items-center-justify-center
    align-items: center
    justify-content: center
    @include gen.flexbox-generator('flex-column') 