//  Align-content and Justify-content gen
@use '../../mix/index' as gen

.flex-col-items-center
    align-items: center
    @include gen.gen-flexbox('flex-col')

.flex-col-items-center-justify-evenly
    align-items: center
    justify-content: space-evenly
    @include gen.gen-flexbox('flex-col')

.flex-col-items-center-justify-center
    align-items: center
    justify-content: center
    @include gen.gen-flexbox('flex-col')