// Third-party dependencies
@use '../../node_modules/sass-true' as true

// Internal dependencies
@use '../../src/mix' as *
@use '../../src/color/alerts' as alerts
@use '../../src/func/color' as func-color

@include true.describe('alert mixin')

    @include true.it('should apply alert styles with default color')
        @include true.assert
            @include true.output
                .alert
                    @include alert()
            
            @include true.expect
                .alert
                    gap: 1.5rem
                    padding: 1.5rem
                    margin: auto
                    inline-size: 35rem
                    align-items: center
                    border-radius: 0.5rem
                    border: 0.0625rem solid rgba(0, 0, 0, 0.1)
                    font-weight: 800
                    background-color: alerts.$warning
                    color: func-color.best-contrast-color(alerts.$warning)
                    display: flex
                    flex-wrap: nowrap
                    flex-direction: column

    @include true.it('should apply an icon when provided')
        @include true.assert
            @include true.output
                .alert-with-icon
                    @include alert($icon: 'warning')
            
            @include true.expect
                .alert-with-icon
                    gap: 1.5rem
                    padding: 1.5rem
                    margin: auto
                    inline-size: 35rem
                    border-radius: 0.5rem
                    border: 0.0625rem solid rgba(0, 0, 0, 0.1)
                    font-weight: 800
                    background-color: alerts.$warning
                    color: func-color.best-contrast-color(alerts.$warning)
                    display: grid
                    grid-template-columns: auto 1fr
                    align-items: start
                    &::before
                        font-family: 'bootstrap-icons'
                        content: "\F33A"
                        font-size: 2rem
                        grid-column: 1
                        grid-row: 1
