// Built-in Dependencies
@use 'sass:map'
@use 'sass:meta'

// Third-party dependencies
@use '../../src/mix/../../node_modules/sass-true' as true

// Internal dependencies
@use '../../src/mix/_breakpoints' as breakpoints
@use '../../src/map/devices-breakpoints' as devices-breakpoints

@include true.test-module('Media Queries')
  @include true.test('Generates max-width media query for breakpoint md')
    $md: map.get(devices-breakpoints.$breakpoints, 'md')
    @include true.assert
      @include true.output
        @include breakpoints.media-queries('md')
          color: blue
      
      @include true.expect
        @media (max-inline-size: $md)
          color: blue

  @include true.test('Generates prefers-color-scheme')
    @include true.assert
      @include true.output
        @include breakpoints.prefers-color-scheme(dark)
          background: black
      
      @include true.expect
        @media (prefers-color-scheme: dark)
          background: black

  @include true.test('Generates device-media for iphone')
    $iphone: map.get(devices-breakpoints.$devices, 'iphone')
    $min-inline: map.get($iphone, 'inline-size')
    $max-inline: $min-inline + 0.125rem
    $min-block: map.get($iphone, 'block-size')
    $max-block: $min-block + 0.125rem
    @include true.assert
      @include true.output
        @include breakpoints.device-media('iphone')
          color: white
      
      @include true.expect
        @media only screen and (min-inline-size: $min-inline) and (max-inline-size: $max-inline) and (min-block-size: $min-block) and (max-block-size: $max-block) and (orientation: portrait)
          color: white


