// Built-in Dependencies
@use 'sass:map'
@use 'sass:meta'

// Third-party dependencies
@use '../../node_modules/sass-true' as true

// Internal dependencies
@use '../../src/mix/_breakpoints' as breakpoints
@use '../../src/map/devices-breakpoints' as devices-breakpoints

@include true.describe('Media Queries')
  @include true.it('Generates max-width media query for breakpoint mobile')
    $mobile: map.get(devices-breakpoints.$breakpoints, 'mobile')
    @include true.assert
      @include true.output
        @include breakpoints.media-queries('mobile')
          color: blue
      
      @include true.expect
        @media (max-inline-size: $mobile)
          color: blue

  @include true.it('Generates max-width media query for semantic descriptive breakpoint (tablet-landscape)')
    $tablet-land: map.get(devices-breakpoints.$breakpoints, 'tablet-landscape')
    @include true.assert
      @include true.output
        @include breakpoints.media-queries('tablet-landscape')
          color: green
      
      @include true.expect
        @media (max-inline-size: $tablet-land)
          color: green

  @include true.it('Generates prefers-color-scheme')
    @include true.assert
      @include true.output
        @include breakpoints.prefers-color-scheme(dark)
          background: black
      
      @include true.expect
        @media (prefers-color-scheme: dark)
          background: black

  @include true.it('Generates device-media for iphone')
    $iphone: map.get(devices-breakpoints.$devices, 'iphone')
    $min-inline: map.get($iphone, 'inline-size')
    $max-inline: $min-inline + 0.125rem
    $min-block: map.get($iphone, 'block-size')
    $max-block: $min-block + 0.125rem
    @include true.assert
      @include true.output
        @include breakpoints.device-media('iphone')
          color: white
      
      @include true.expect
        @media only screen and (min-inline-size: $min-inline) and (max-inline-size: $max-inline) and (min-block-size: $min-block) and (max-block-size: $max-block) and (orientation: portrait)
          color: white


