// Built-in Dependencies
@use 'sass:color'

// Third-party dependencies
@use '../../src/mix/../../node_modules/sass-true' as true

// Internal dependencies
@use '../../src/color' as c
@use '../../src/mix/_buttons' as buttons
@use '../../src/mix/_utilities' as utils
@use '../../src/func/color' as func-color


@include true.test-module('Buttons')
  @include true.test('Applies base button styling')
    $bg: c.$light-blue
    $text: func-color.best-contrast-color($bg)
    @include true.assert
      @include true.output
        button
          @include buttons.base-btn()
      
      @include true.expect
        button
          &:hover
            transform: scale(1.05)
            background-color: color.adjust($bg, $lightness: -5%)
            color: func-color.best-contrast-color(color.adjust($bg, $lightness: -5%))

          &:active
            transform: scale(0.95)
            background-color: color.adjust($bg, $lightness: -10%)
            color: func-color.best-contrast-color(color.adjust($bg, $lightness: -10%))

          &:disabled
            opacity: 0.3
            cursor: not-allowed
            pointer-events: none

          cursor: pointer
          display: inline-block
          padding: 0.5rem 1.5rem
          position: relative
          border-radius: 0.5rem
          margin: 0.5rem
          font-family: "Nunito", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
          font-size: 1em
          font-weight: bold
          background-color: $bg
          color: $text
          transition: "transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.2s"

  @include true.test('Applies reset-btn mixin')
    @include true.assert
      @include true.output
        button.custom-btn
          @include utils.reset($button: true)
      
      @include true.expect
        button.custom-btn
          border: none
          outline: 0
          outline-color: transparent
          color: inherit
          background-image: none
          background: transparent
          background-color: transparent
          font: inherit
          cursor: pointer
          appearance: none
          -moz-appearance: none
          -webkit-appearance: none


