// Built-in Dependencies
@use 'sass:map'

// Third-party dependencies
@use '../../node_modules/sass-true' as true

// Internal dependencies
@use '../../src/mix' as *
@use '../../src/color' as c
@use '../../src/func/color' as func-color

@include true.describe('card mixin')

    @include true.it('should apply square shape by default with colors')
        @include true.assert
            @include true.output
                .card
                    @include card($bg-color: c.$soft-white, $color: c.$dark-grey)
            
            @include true.expect
                .card
                    border-radius: 5%
                    aspect-ratio: 1
                    background-color: c.$soft-white
                    color: c.$dark-grey

    @include true.it('should apply circle shape and custom colors')
        $accent: c.$logo-red
        @include true.assert
            @include true.output
                .card-circle
                    @include card($bg-color: c.$soft-white, $color: $accent, $shape: 'circle')
            
            @include true.expect
                .card-circle
                    border-radius: 50%
                    aspect-ratio: 1
                    background-color: c.$soft-white
                    color: $accent
