// Built-in Dependencies
@use 'sass:map'
@use 'sass:meta'

// Third-party dependencies
@use '../../src/mix/../../node_modules/sass-true' as true

// Internal dependencies
@use '../../src/mix/_generators' as generators
@use '../../src/map/inputs' as inputs

@include true.test-module('Icon Generator')
  @include true.test('Generates school icon class')
    @include true.assert
      @include true.output
        @include generators.gen-icons('school')
      
      @include true.expect
        .school
          &::before
            color: rgb(64, 64, 64) !important
            font-family: 'bootstrap-icons'
            content: "\F671"

@include true.test-module('Flexbox Generator')
  @include true.test('Generates flex-row properties')
    @include true.assert
      @include true.output
        @include generators.gen-flexbox('flex-row')
      
      @include true.expect
        display: flex
        flex-wrap: nowrap
        flex-direction: row

@include true.test-module('Input Generator')
  @include true.test('Generates text input type')
    @include true.assert
      @include true.output
        @include generators.gen-inputs('text')
      
      @include true.expect
        input[type="text"]
          @each $prop, $val in inputs.$default-input-props
            #{$prop}: $val
        
        input[type="text"]::focus
          outline: map.get(inputs.$default-input-props, 'focus-outline')
        
        &::-webkit-slider-runnable-track
          block-size: 0.4rem
          background: #ddd
          border-radius: 0.2rem
        
        &::-webkit-slider-thumb
          -webkit-appearance: none
          inline-size: 1rem
          block-size: 1rem
          background: #0078d7
          border-radius: 50%
          margin-top: -0.3rem
