// Third-party dependencies
@use '../../node_modules/sass-true' as true

// Internal dependencies
@use '../../src/mix' as *
@use '../../src/func/color' as func-color
@use '../../src/color' as c

@include true.describe('theme-colors mixin')

    @include true.it('should apply default theme colors')
        @include true.assert
            @include true.output
                body
                    @include apply-theme-colors(c.$soft-white, func-color.best-contrast-color(c.$soft-white))
            
            @include true.expect
                body
                    background-color: c.$soft-white
                    color: func-color.best-contrast-color(c.$soft-white)

    @include true.it('should apply custom theme colors')
        @include true.assert
            @include true.output
                body
                    @include apply-theme-colors(#000, #fff)
            
            @include true.expect
                body
                    background-color: #000
                    color: #fff

    @include true.it('should apply custom font')
        @include true.assert
            @include true.output
                body
                    @include apply-theme-colors(c.$soft-white, func-color.best-contrast-color(c.$soft-white), $font: 'Arial')
            
            @include true.expect
                body
                    font-family: "Arial", sans-serif
                    background-color: c.$soft-white
                    color: func-color.best-contrast-color(c.$soft-white)

    @include true.it('should support passing nested @content')
        @include true.assert
            @include true.output
                body
                    @include apply-theme-colors(#000, #fff)
                        a
                            color: red
            
            @include true.expect
                body
                    background-color: #000
                    color: #fff
                    a
                        color: red
