// Built-in Dependencies
@use 'sass:color'

// Third-party dependencies
@use '../../node_modules/sass-true' as true

// Internal dependencies
@use '../../src/mix' as *
@use '../../src/color' as c
@use '../../src/color/alerts' as alerts
@use '../../src/func/color' as func-color

@include true.describe('elements mixin')

    @include true.it('should apply link-color styles')
        $color: c.$light-blue
        $hover: color.adjust($color, $lightness: -10%)
        $active: color.adjust($color, $lightness: -20%)
        @include true.assert
            @include true.output
                .test
                    @include link-color()
            
            @include true.expect
                .test
                    a
                        [aria-disabled="true"]
                            cursor: not-allowed
                            pointer-events: none
                            text-decoration: none
                            background-color: transparent
                            color: alerts.$disabled
                        &:active
                            background-color: transparent
                            color: $active
                        &.external-link
                            text-decoration: underline
                        @media (hover: hover)
                            &:hover
                                border-radius: 0.5em
                                background-color: transparent
                                color: $hover
                        &:visited
                            background-color: transparent
                            color: $color
                        cursor: pointer
                        text-decoration: none
                        background-color: transparent
                        color: $color

    @include true.it('should not apply link color to child elements inside anchors')
        $color: c.$light-blue
        $hover: color.adjust($color, $lightness: -10%)
        $active: color.adjust($color, $lightness: -20%)
        @include true.assert
            @include true.output
                .test
                    @include link-color()
            
            // This test explicitly ensures `article` and `span` are NOT selected
            @include true.expect
                .test
                    a
                        [aria-disabled="true"]
                            cursor: not-allowed
                            pointer-events: none
                            text-decoration: none
                            background-color: transparent
                            color: alerts.$disabled
                        &:active
                            background-color: transparent
                            color: $active
                        &.external-link
                            text-decoration: underline
                        @media (hover: hover)
                            &:hover
                                border-radius: 0.5em
                                background-color: transparent
                                color: $hover
                        &:visited
                            background-color: transparent
                            color: $color
                        cursor: pointer
                        text-decoration: none
                        background-color: transparent
                        color: $color
