@use '../mix/index' as mix

@forward '../flexbox/flexbox-row'
@forward '../flexbox/flexbox-column'
@forward '../flexbox/flexbox-wrap-row'
@forward '../flexbox/flexbox-reversed-row'
@forward '../flexbox/row-align-justify-mix/flexbox-wrap-row-align-justify'
@forward '../flexbox/column-align-justify-mix/column-justify-items'

.flex
    @include mix.flexbox-generator('flex')

.flex-row
    @include mix.flexbox-generator('flex-row')

.flex-row-wrap
    @include mix.flexbox-generator('flex-row-wrap')

.flex-col
    @include mix.flexbox-generator('flex-col')

.flex-col-wrap
    @include mix.flexbox-generator('flex-col-wrap')

.flex-col-center-center
    justify-content: center
    align-items: center
    @include mix.flexbox-generator('flex-col-center-center')

.flex-row-center-center
    justify-content: center
    align-items: center
    @include mix.flexbox-generator('flex-row-center-center')
