@use '../mix/generators' as mix

@forward '../flexbox/flexbox-row'
@forward '../flexbox/flexbox-column'
@forward '../flexbox/flexbox-wrap-row'
@forward '../flexbox/flexbox-reversed-row'
@forward '../flexbox/row-align-justify-mix/flexbox-wrap-row-align-justify'
@forward '../flexbox/column-align-justify-mix/column-justify-items'

.flex-inline
    @include mix.flexbox-generator('inline-flex')

.flex
    @include mix.flexbox-generator('flex')

.flex-row
    @include mix.flexbox-generator('flex-row')

.flex-wrap-row
    @include mix.flexbox-generator('flex-wrap-row')

.flex-wrap-reversed-row
    @include mix.flexbox-generator('flex-wrap-reversed-row')

.flex-col
    @include mix.flexbox-generator('flex-col')

.flex-wrap-col
    @include mix.flexbox-generator('flex-wrap-col')

.flex
    @include mix.flexbox-generator('flex')

.flex-row
    @include mix.flexbox-generator('flex-row')

.flex-row-wrap
    @include mix.flexbox-generator('flex-row-wrap')

.flex-col
    @include mix.flexbox-generator('flex-col')

.flex-col-wrap
    @include mix.flexbox-generator('flex-col-wrap')

.flex-col-center-center
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.flex-row-center-center
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row

