$github-gray: rgb(105, 105, 105)
$github-gray-active: rgb(45, 45, 45)
$github-gray-hover: rgb(120, 120, 120)
$github-light-green: rgb(231, 243, 243)

//  Social media colors
$discord-blue: rgb(88, 101, 242)
$discord-blue-hover: rgba(88, 101, 242, 0.8)
$discord-blue-active: rgba(88, 101, 242, 0.6)
 
$facebook-blue: rgb(59, 89, 152)
$facebook-blue-hover: rgba(59, 89, 152, 0.8)
$facebook-blue-active: rgba(59, 89, 152, 0.6)

$instagram-purple: rgb(193, 53, 132)
$instagram-purple-hover: rgba(193, 53, 132, 0.8)
$instagram-purple-active: rgba(193, 53, 132, 0.6)

$messenger-blue: rgb(0, 132, 255)
$messenger-blue-hover: rgba(0, 132, 255, 0.8)
$messenger-blue-active: rgba(0, 132, 255, 0.6)

$youtube-red: rgb(255, 0, 0)
$youtube-red-hover: rgb(120, 6, 6)
$youtube-red-active: rgba(255, 0, 0, 0.6)

$linked-in-blue: rgb(0, 0, 128)
$linked-in-blue-active: rgb(0, 0, 115)
$linked-in-blue-hover: rgb(25, 25, 140)