$github-gray: rgba(105, 105, 105, 1)
$github-gray-active: rgba(45, 45, 45, 1)
$github-gray-hover: rgba(120, 120, 120, 1)
$github-light-green: rgba(231, 243, 243, 1)

//  Social media colors
$discord-blue: rgba(88, 101, 242, 1)
$discord-blue-hover: rgba(88, 101, 242, 0.8)
$discord-blue-active: rgba(88, 101, 242, 0.6)
 
$facebook-blue: rgba(59, 89, 152, 1)
$facebook-blue-hover: rgba(59, 89, 152, 0.8)
$facebook-blue-active: rgba(59, 89, 152, 0.6)

$instagram-purple: rgba(193, 53, 132, 1)
$instagram-purple-hover: rgba(193, 53, 132, 0.8)
$instagram-purple-active: rgba(193, 53, 132, 0.6)

$messenger-blue: rgba(0, 132, 255, 1)
$messenger-blue-hover: rgba(0, 132, 255, 0.8)
$messenger-blue-active: rgba(0, 132, 255, 0.6)

$youtube-red: rgba(255, 0, 0, 1)
$youtube-red-hover: rgba(120, 6, 6, 1)
$youtube-red-active: rgba(255, 0, 0, 0.6)

$linked-in-blue: rgba(0, 0, 128, 1)
$linked-in-blue-active: rgba(0, 0, 115, 1)
$linked-in-blue-hover: rgba(25, 25, 140, 1)