// Project specific colors
$brand-blue: rgb(52, 152, 216)
$brand-deep-midnight-blue: rgb(29, 46, 84)
$brand-logo-red: rgb(179, 34, 20)
$brand-sea-green: rgb(95, 158, 160)
$brand-light-orange: rgb(231, 113, 125)
$brand-dark-orange: rgb(204, 85, 102)
