//  Social media colors
$brand-discord-blue: rgb(88, 101, 242)
$brand-discord-blue-hover: rgba(88, 101, 242, 0.8)
$brand-discord-blue-active: rgba(88, 101, 242, 0.6)

$brand-facebook-blue: rgb(59, 89, 152)
$brand-facebook-blue-hover: rgba(59, 89, 152, 0.8)
$brand-facebook-blue-active: rgba(59, 89, 152, 0.6)

$brand-instagram-purple: rgb(193, 53, 132)
$brand-instagram-purple-hover: rgba(193, 53, 132, 0.8)
$brand-instagram-purple-active: rgba(193, 53, 132, 0.6)

$brand-messenger-blue: rgb(0, 132, 255)
$brand-messenger-blue-hover: rgba(0, 132, 255, 0.8)
$brand-messenger-blue-active: rgba(0, 132, 255, 0.6)

$brand-youtube-red: rgb(255, 0, 0)
$brand-youtube-red-hover: rgb(120, 6, 6)
$brand-youtube-red-active: rgba(255, 0, 0, 0.6)

$brand-linked-in-blue: rgb(0, 0, 128)
$brand-linked-in-blue-active: rgb(0, 0, 115)
$brand-linked-in-blue-hover: rgb(25, 25, 140)
