//  Social media colors
$brand-discord-blue: rgba(88, 101, 242, 1)
$brand-discord-blue-hover: rgba(88, 101, 242, 0.8)
$brand-discord-blue-active: rgba(88, 101, 242, 0.6)

$brand-facebook-blue: rgba(59, 89, 152, 1)
$brand-facebook-blue-hover: rgba(59, 89, 152, 0.8)
$brand-facebook-blue-active: rgba(59, 89, 152, 0.6)

$brand-instagram-purple: rgba(193, 53, 132, 1)
$brand-instagram-purple-hover: rgba(193, 53, 132, 0.8)
$brand-instagram-purple-active: rgba(193, 53, 132, 0.6)

$brand-messenger-blue: rgba(0, 132, 255, 1)
$brand-messenger-blue-hover: rgba(0, 132, 255, 0.8)
$brand-messenger-blue-active: rgba(0, 132, 255, 0.6)

$brand-youtube-red: rgba(255, 0, 0, 1)
$brand-youtube-red-hover: rgba(120, 6, 6, 1)
$brand-youtube-red-active: rgba(255, 0, 0, 0.6)

$brand-linked-in-blue: rgba(0, 0, 128, 1)
$brand-linked-in-blue-active: rgba(0, 0, 115, 1)
$brand-linked-in-blue-hover: rgba(25, 25, 140, 1)
