@use 'sass:map' as map
@use './mixins' as mix
@use './button-mixins' as btn
@use '../colors/colors' as color

@use '../mappings/tags' as tag-map
@use '../mappings/icons' as icon-map
@use '../mappings/tech-icons' as tech-map
@use '../mappings/flexbox' as flexbox-mapping

@mixin icon-generator()
    @each $category, $maps in icon-map.$icons
        @each $icon, $props in $maps
            .#{$icon}
                &:before
                    content: map.get($props, icon)

                color: map.get($props, icon-color)

@mixin flexbox-generator($name)

    $props: map.get(flexbox-mapping.$flexbox, $name)

    @if $props
        @each $property, $value in $props
            #{$property}: $value
    @else
        @error '"#{$name}" not found in flexbox mapping.'


