// Flexbox centering mixin
@mixin flex-center
  display: flex
  justify-content: center
  align-items: center

@mixin text-wrap-safe()
    p, h1, h2, h3, h4, h5, h6, figcaption, a, li
        hyphens: auto
        min-inline-size: 0
        word-wrap: anywhere
        white-space: pre-wrap
        overflow-wrap: anywhere
