/// Internal dependencies
@use 'mix' as l-mix

@forward 'mix'
@forward 'func'
@forward 'color'
@forward 'flexbox'


*, *::before, *::after    
    box-sizing: border-box
    writing-mode: horizontal-tb

.page-alert
    p 
        font-size: 1.5rem

    @include l-mix.size($inline: 100%)
    @include l-mix.margin($block: 20rem, $inline: 10rem)
