@forward 'mix'
@forward 'func'
@forward 'color'
@forward 'flexbox'


*, *::before, *::after    
    box-sizing: border-box
    writing-mode: horizontal-tb

.page-alert
    inline-size: 33rem
    margin-inline: auto
    margin-block: 10rem

    p 
        font-size: 1.5rem
