/// Internal dependencies
@forward 'mix'
@forward 'func'
@forward 'color'
@forward 'flexbox'


*, *::before, *::after    
    box-sizing: border-box
    writing-mode: horizontal-tb

.page-alert
    p 
        font-size: 1.5rem

    @include size($inline: 100%)
    @include margin($block: 20rem, $inline: 10rem)
